<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Easy</key>
	<array>
		<dict>
			<key>MissionDistance</key>
			<integer>1000</integer>
			<key>Title</key>
			<string>Desert Run</string>
			<key>Description</key>
			<string>When the desert calls... The wild side calls... To run away... However we get paid for it</string>
			<key>StartEnvironent</key>
			<string>Desert</string>
			<key>Modifiers</key>
			<dict>
				<key>modifyNegativeEvents</key>
				<real>1.3</real>
			</dict>
		</dict>
	</array>
	<key>Medium</key>
	<array>
		<dict>
			<key>MissionDistance</key>
			<integer>1000</integer>
			<key>Title</key>
			<string>Desert Run</string>
			<key>Description</key>
			<string>When the desert calls... The wild side calls... To run away... However we get paid for it</string>
			<key>StartEnvironent</key>
			<string>Desert</string>
			<key>Modifiers</key>
			<dict>
				<key>modifyNegativeEvents</key>
				<integer>1</integer>
			</dict>
		</dict>
	</array>
	<key>Hard</key>
	<array>
		<dict>
			<key>MissionDistance</key>
			<integer>1000</integer>
			<key>Title</key>
			<string>Desert Run</string>
			<key>Description</key>
			<string>When the desert calls... The wild side calls... To run away... However we get paid for it</string>
			<key>StartEnvironent</key>
			<string>Desert</string>
			<key>Modifiers</key>
			<dict>
				<key>modifyNegativeEvents</key>
				<real>0.9</real>
			</dict>
		</dict>
	</array>
	<key>Insane</key>
	<array>
		<dict>
			<key>MissionDistance</key>
			<integer>1000</integer>
			<key>Title</key>
			<string>Desert Run</string>
			<key>Description</key>
			<string>When the desert calls... The wild side calls... To run away... However we get paid for it</string>
			<key>StartEnvironent</key>
			<string>Desert</string>
			<key>Modifiers</key>
			<dict>
				<key>modifyNegativeEvents</key>
				<real>0.8</real>
			</dict>
		</dict>
	</array>
</dict>
</plist>
