<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Shaman</key>
	<dict>
		<key>Lucky Johnny</key>
		<dict>
			<key>control_Selected</key>
			<false/>
			<key>Name</key>
			<string>Lucky Johnny</string>
			<key>BloodType</key>
			<integer>0</integer>
			<key>Weight</key>
			<integer>60</integer>
			<key>Height</key>
			<integer>190</integer>
			<key>Age</key>
			<integer>50</integer>
			<key>Buffs</key>
			<dict>
				<key>modifyBaseProbability</key>
				<real>3</real>
			</dict>
		</dict>
		<key>Changuito Ojos Saltones</key>
		<dict>
			<key>control_Selected</key>
			<false/>
			<key>Name</key>
			<string>Changuito Ojos Saltones</string>
			<key>BloodType</key>
			<integer>0</integer>
			<key>Weight</key>
			<integer>40</integer>
			<key>Height</key>
			<integer>160</integer>
			<key>Age</key>
			<integer>70</integer>
			<key>Buffs</key>
			<dict>
				<key>modifyClearWeatherProbability</key>
				<real>1.5</real>
			</dict>
		</dict>
	</dict>
	<key>Medic</key>
	<dict>
		<key>Çesc Jr.</key>
		<dict>
			<key>control_Selected</key>
			<false/>
			<key>Name</key>
			<string>Çesc Jr.</string>
			<key>BloodType</key>
			<integer>0</integer>
			<key>Weight</key>
			<integer>90</integer>
			<key>Height</key>
			<integer>188</integer>
			<key>Age</key>
			<integer>29</integer>
			<key>Buffs</key>
			<dict>
				<key>modifyDiscoveryProbability</key>
				<integer>2</integer>
			</dict>
		</dict>
	</dict>
	<key>Scientist</key>
	<dict>
		<key>Jekyl Costa</key>
		<dict>
			<key>control_Selected</key>
			<false/>
			<key>Name</key>
			<string>Jekyl Costa</string>
			<key>BloodType</key>
			<integer>0</integer>
			<key>Weight</key>
			<integer>30</integer>
			<key>Height</key>
			<integer>120</integer>
			<key>Age</key>
			<integer>16</integer>
			<key>Buffs</key>
			<dict>
				<key>modifyDiscoveryProbability</key>
				<real>1.2</real>
			</dict>
		</dict>
	</dict>
	<key>Thug</key>
	<dict>
		<key>Arnolden Saussage</key>
		<dict>
			<key>Name</key>
			<string>Arnolden Saussage</string>
			<key>control_Selected</key>
			<false/>
			<key>BloodType</key>
			<integer>0</integer>
			<key>Weight</key>
			<integer>113</integer>
			<key>Height</key>
			<integer>188</integer>
			<key>Age</key>
			<integer>35</integer>
			<key>Buffs</key>
			<dict>
				<key>modifyAttackProbability</key>
				<real>1.6</real>
				<key>modifyBaseProbability</key>
				<integer>1</integer>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
