<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hipster Tank</key>
	<dict>
		<key>Description</key>
		<string>With modern tecnology and futiristic tanks...Why not use a soda can?</string>
		<key>Velocity</key>
		<integer>4</integer>
		<key>Art</key>
		<string>tank.png</string>
		<key>Name</key>
		<string>Hipster Tank</string>
		<key>Buffs</key>
		<dict>
			<key>modifyNegativeEvents</key>
			<real>0.9</real>
			<key>modifyAttackProbability</key>
			<real>1.2</real>
			<key>modifyFailureProbability</key>
			<real>1.3</real>
		</dict>
	</dict>
	<key>Bike of Doom</key>
	<dict>
		<key>Velocity</key>
		<integer>8</integer>
		<key>Description</key>
		<string>When everything goes grong and the italians dominate the world... Get a Ves... Sorry a bike of doom</string>
		<key>Art</key>
		<string>moped.png</string>
		<key>Name</key>
		<string>Bike of Doom</string>
		<key>Buffs</key>
		<dict>
			<key>modifyNegativeEvents</key>
			<real>0.9</real>
			<key>modifyAttackProbability</key>
			<real>1.2</real>
			<key>modifyFailureProbability</key>
			<real>1.3</real>
		</dict>
	</dict>
</dict>
</plist>
