<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>VehicleTemplate</key>
	<dict>
		<key>Description</key>
		<string>Template Description</string>
		<key>Art</key>
		<string></string>
		<key>Name</key>
		<string>TemplateName</string>
		<key>Fuel</key>
		<integer>0</integer>
		<key>Buffs</key>
		<dict/>
	</dict>
	<key>VehicleTemplate - 2 - 2</key>
	<dict>
		<key>Description</key>
		<string></string>
		<key>Art</key>
		<string></string>
		<key>Name</key>
		<string>Ultra Super Mega Tank</string>
		<key>Fuel</key>
		<integer>0</integer>
		<key>Buffs</key>
		<dict/>
	</dict>
	<key>VehicleTemplate - 2</key>
	<dict>
		<key>Description</key>
		<string></string>
		<key>Art</key>
		<string></string>
		<key>Name</key>
		<string>Bike of Doom</string>
		<key>Fuel</key>
		<integer>0</integer>
		<key>Buffs</key>
		<dict/>
	</dict>
</dict>
</plist>
