<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TemplateName</key>
	<dict>
		<key>Description</key>
		<string>Template Description</string>
		<key>Art</key>
		<string></string>
		<key>Name</key>
		<string>TemplateName</string>
		<key>Fuel</key>
		<integer>0</integer>
		<key>Buffs</key>
		<dict/>
	</dict>
	<key>Ultra Super Mega Tank</key>
	<dict>
		<key>Description</key>
		<string></string>
		<key>Art</key>
		<string></string>
		<key>Name</key>
		<string>Ultra Super Mega Tank</string>
		<key>Fuel</key>
		<integer>0</integer>
		<key>Buffs</key>
		<dict/>
	</dict>
	<key>Bike of Doom</key>
	<dict>
		<key>Description</key>
		<string>🤕</string>
		<key>Art</key>
		<string></string>
		<key>Name</key>
		<string>Bike of Doom</string>
		<key>Fuel</key>
		<integer>0</integer>
		<key>Buffs</key>
		<dict>
			<key>modifyNegativeEvents</key>
			<real>0.5</real>
			<key>modifyAttackProbability</key>
			<real>1.1</real>
		</dict>
	</dict>
</dict>
</plist>
