<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Discovery</key>
		<array>
			<dict>
				<key>InmediateEffects</key>
				<dict/>
				<key>Title</key>
				<string>TemplatePositiveDiscovery</string>
				<key>Text</key>
				<string>Event </string>
				<key>OptionA</key>
				<dict>
					<key>Text</key>
					<string>OptionA</string>
				</dict>
				<key>OptionB</key>
				<dict>
					<key>Text</key>
					<string>OptionB</string>
				</dict>
				<key>OptionC</key>
				<dict>
					<key>Text</key>
					<string>OptionC</string>
				</dict>
				<key>OptionD</key>
				<dict>
					<key>Text</key>
					<string>OptionD</string>
				</dict>
				<key>SubEvents</key>
				<array/>
			</dict>
		</array>
		<key>ClearWeather</key>
		<array>
			<dict>
				<key>InmediateEffects</key>
				<dict/>
				<key>Title</key>
				<string>TemplatePositiveWeather</string>
				<key>Text</key>
				<string>Event </string>
				<key>OptionA</key>
				<dict>
					<key>Text</key>
					<string>OptionA</string>
				</dict>
				<key>OptionB</key>
				<dict>
					<key>Text</key>
					<string>OptionB</string>
				</dict>
				<key>OptionC</key>
				<dict>
					<key>Text</key>
					<string>OptionC</string>
				</dict>
				<key>OptionD</key>
				<dict>
					<key>Text</key>
					<string>OptionD</string>
				</dict>
				<key>SubEvents</key>
				<array/>
			</dict>
		</array>
		<key>Merchant</key>
		<array>
			<dict>
				<key>InmediateEffects</key>
				<dict/>
				<key>Title</key>
				<string>TemplatePositiveMerch</string>
				<key>Text</key>
				<string>Event </string>
				<key>OptionA</key>
				<dict>
					<key>Text</key>
					<string>OptionA</string>
				</dict>
				<key>OptionB</key>
				<dict>
					<key>Text</key>
					<string>OptionB</string>
				</dict>
				<key>OptionC</key>
				<dict>
					<key>Text</key>
					<string>OptionC</string>
				</dict>
				<key>OptionD</key>
				<dict>
					<key>Text</key>
					<string>OptionD</string>
				</dict>
				<key>SubEvents</key>
				<array/>
			</dict>
		</array>
		<key>WildCardPos</key>
		<array>
			<dict>
				<key>InmediateEffects</key>
				<dict/>
				<key>Title</key>
				<string>TemplatePositiveWild</string>
				<key>Text</key>
				<string>Event </string>
				<key>OptionA</key>
				<dict>
					<key>Text</key>
					<string>OptionA</string>
				</dict>
				<key>OptionB</key>
				<dict>
					<key>Text</key>
					<string>OptionB</string>
					<key>Health</key>
					<integer>0</integer>
				</dict>
				<key>OptionC</key>
				<dict>
					<key>Text</key>
					<string>OptionC</string>
					<key>Health</key>
					<integer>0</integer>
				</dict>
				<key>OptionD</key>
				<dict>
					<key>Text</key>
					<string>OptionD</string>
				</dict>
				<key>SubEvents</key>
				<array/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Attack</key>
		<array>
			<dict>
				<key>InmediateEffects</key>
				<dict/>
				<key>Title</key>
				<string>TemplateNegativeAttack</string>
				<key>Text</key>
				<string>Event </string>
				<key>OptionA</key>
				<dict>
					<key>Text</key>
					<string>OptionA</string>
				</dict>
				<key>OptionB</key>
				<dict>
					<key>Text</key>
					<string>OptionB</string>
				</dict>
				<key>OptionC</key>
				<dict>
					<key>Text</key>
					<string>OptionC</string>
				</dict>
				<key>OptionD</key>
				<dict>
					<key>Text</key>
					<string>OptionD</string>
				</dict>
				<key>SubEvents</key>
				<array/>
			</dict>
		</array>
		<key>Failure</key>
		<array>
			<dict>
				<key>InmediateEffects</key>
				<dict/>
				<key>Title</key>
				<string>TemplateNegativeFailure</string>
				<key>Text</key>
				<string>Event </string>
				<key>OptionA</key>
				<dict>
					<key>Text</key>
					<string>OptionA</string>
				</dict>
				<key>OptionB</key>
				<dict>
					<key>Text</key>
					<string>OptionB</string>
				</dict>
				<key>OptionC</key>
				<dict>
					<key>Text</key>
					<string>OptionC</string>
				</dict>
				<key>OptionD</key>
				<dict>
					<key>Text</key>
					<string>OptionD</string>
				</dict>
				<key>SubEvents</key>
				<array/>
			</dict>
		</array>
		<key>BadWeather</key>
		<array>
			<dict>
				<key>InmediateEffects</key>
				<dict/>
				<key>Title</key>
				<string>TemplateNegativeBadWeather</string>
				<key>Text</key>
				<string>Event </string>
				<key>OptionA</key>
				<dict>
					<key>Text</key>
					<string>OptionA</string>
				</dict>
				<key>OptionB</key>
				<dict>
					<key>Text</key>
					<string>OptionB</string>
				</dict>
				<key>OptionC</key>
				<dict>
					<key>Text</key>
					<string>OptionC</string>
				</dict>
				<key>OptionD</key>
				<dict>
					<key>Text</key>
					<string>OptionD</string>
				</dict>
				<key>SubEvents</key>
				<array/>
			</dict>
		</array>
		<key>WildCardNeg</key>
		<array>
			<dict>
				<key>InmediateEffects</key>
				<dict/>
				<key>Title</key>
				<string>TemplateNegativeWildCardNeg</string>
				<key>Text</key>
				<string>Event </string>
				<key>OptionA</key>
				<dict>
					<key>Text</key>
					<string>OptionA</string>
				</dict>
				<key>OptionB</key>
				<dict>
					<key>Text</key>
					<string>OptionB</string>
				</dict>
				<key>OptionC</key>
				<dict>
					<key>Text</key>
					<string>OptionC</string>
				</dict>
				<key>OptionD</key>
				<dict>
					<key>Text</key>
					<string>OptionD</string>
				</dict>
				<key>SubEvents</key>
				<array/>
			</dict>
		</array>
	</dict>
</array>
</plist>
